body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}


.Work {
  color: #333;
  background-color: #EEE;
  padding: 1em;
}

.Work a {
  color: inherit;
}

.Work-title {
  margin-bottom: 0.618em;
  font-weight: bold;
  float: left;
  margin-right: 5em;
  margin-top: 0.3em;
}

.Work-algorithm {
  font-family: "Old Standard TT", serif;
  font-size: 200%;
  overflow: hidden;
  margin-bottom: 0.618em;
}

svg {
  image-rendering: -webkit-optimize-contrast; /* Old Android, Safari, UC Browser */
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: crisp-edges; /* Safari */
	image-rendering: pixelated; /* Chrome & Opera */
	-ms-interpolation-mode: nearest-neighbor; /* IE */
}
