body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.Home {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.618em;
  padding-right: 0.618em;
}

.Home a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 salmon;
  padding-bottom: 0.1em;
  display: inline-block;
}

.Home a:hover {
  color: salmon;
}

.Home-list {
  list-style: none;
  padding-left: 0;
}

.Home-drawing {
  margin-bottom: 1em;
}

.Piece {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Piece-canvas {
  flex: 1;
}

.Work {
  color: #333;
  background-color: #EEE;
  padding: 1em;
}

.Work a {
  color: inherit;
}

.Work-title {
  margin-bottom: 0.618em;
  font-weight: bold;
  float: left;
  margin-right: 5em;
  margin-top: 0.3em;
}

.Work-algorithm {
  font-family: "Old Standard TT", serif;
  font-size: 200%;
  overflow: hidden;
  margin-bottom: 0.618em;
}

svg, canvas {
  image-rendering: -webkit-optimize-contrast; /* Old Android, Safari, UC Browser */
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: crisp-edges; /* Safari */
	image-rendering: pixelated; /* Chrome & Opera */
	-ms-interpolation-mode: nearest-neighbor; /* IE */
}
